#gameboard {
    /* display: flex; */
    height: 600px;  
    width: 1000px; 
    background: green; 
}

#header {
    display: flex; 
    justify-content: center; 
    padding: 30px;
    margin: 0px;  
}

#buttons {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 25px; 
    height: 40px; 
}

#deckcount {
    display: flex; 
    justify-content: center; 
    padding: 20px; 
}

#deck {
    display: flex; 
    justify-content: center;
    padding-left: 40px; 
    height: 125px; 
    width: 100px; 
}

#players {
    height: 200px; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;  
    padding: 30px; 
}

#playerOne {
    text-align: center; 
}

.active {
    border: black solid 2px; 
    border-radius: 5px; 
}

#playerOneHand {
    display: flex; 
    flex-direction: row; 
    margin: 20px; 
}

#playerTwo {
    text-align: center; 
}

#playerTwoHand {
    display: flex; 
    flex-direction: row; 
    margin: 20px; 
}

.card {
    display: flex; 
    justify-content: center; 
    height: 125px; 
    width: 100px; 
}

#startGame {
    color: white; 
    background: lightgray; 
    padding: 8px; 
    border-radius: 25px; 
    border: black solid 1px; 
    height: 40px; 
    width: 80px; 
    margin: 10px; 
}

#hitMe {
    color: white; 
    background: lightgray; 
    padding: 8px; 
    border-radius: 25px; 
    border: black solid 1px; 
    height: 40px; 
    width: 80px;
    margin: 10px;
}

#stay {
    color: white; 
    background: lightgray; 
    padding: 8px; 
    border-radius: 25px; 
    border: black solid 1px; 
    height: 40px; 
    width: 80px;
    margin: 10px;
}