#gameboard {
    height: 600px;  
    width: 600px; 
    background: green; 
}

#options {
    display: flex; 
    justify-content: center; 
    padding: 40px; 
}

#deckcount {
    display: flex; 
    justify-content: center; 
    padding: 20px; 
}

#deck {
    height: 100px; 
    width: 75px; 
}

#players {
    height: 200px; 
    display: flex; 
    justify-content: center; 
    padding: 30px; 
}

.card {
    height: 100px; 
    width: 75px; 
}